
html,body{
  background:linear-gradient(teal,gray,white);
  text-align:center;
  color:lightgray;
  font-family: 'Montserrat ', Cardo;
}
.sidenav {
      background:linear-gradient(white,gray,black);

      height: 100%;
      color:white;
    }

    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 25px;
    
      }
      .row.content {height: auto;} 
    }
    h1{
 color: white;
    text-shadow: 1px 1px 2px black, 0 0 30px grey, 0 0 5px Darkblue;
    }

.container {
  position: relative;
  width: 120%;
}

.image {
  display: block;
  width: 120%;
  height: 90%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
li{
  font-size:25px;
  color:white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10;
  right: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(green,teal,aqua);
}

.container:hover .overlay {
  opacity: 1;
}
@media(min-width:768px){
  h1{
   font-size:80px; 
  }
  h2{
    font-size:50px;
  }
  p{
    font-size:30px;
  }
  h4{
    font-size:40px;
  }
  li{
    font-size:18px;
  }
  .image{
    width:110%;
    height:100%;
  }
}
@media(min-width:992px){
  h1{
   font-size:80px; 
  }
  h2{
    font-size:30px;
  }
  p{
    font-size:10px;
  }
  li{
    font-size:9px;
  }
  .image{
    width: 120%;
    height: 110%;
  }
}
@media(min-width:1200px){
  h1{
    font-size:100px;
  }
  h2{
    font-size:60px;
  }
  p{
    font-size:50px;
  }
   li{
    font-size:40px;
  }
  .image{
    width: 130%;
    height: 120%;
  }
}

